<h1>Amigos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>email</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.email %></td>
        <td><%= pessoa.telefone %></td>
        <td><%= link_to 'Exibir', pessoa %></td>
        <td><%= link_to 'Editar', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Apagar', pessoa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pull-right">
<%= link_to 'Novo Amigo', new_pessoa_path, :class => "btn btn-primary" %>
<%= link_to 'Catálogo', livros_path, :class => "btn btn-primary" %>

</div>