<h1>Livros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Editora</th>
      <th>Edicao</th>
      <th>Dono</th>
      <th>Está emprestado?</th>
      <th>Para quem?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.autor %></td>
        <td><%= livro.titulo %></td>
        <td><%= livro.editora %></td>
        <td><%= livro.edicao %></td>
        <td><%= livro.dono %></td>
        
         <% if livro.emprestado ==false %> 
            <td> <span class= "glyphicon glyphicon-remove"> </span></td> 
        <td> <span> -- </span></td>
        <% else %>
           <td> <span class= "glyphicon glyphicon-ok"> </span></td> 
        <td><%= livro.pessoa.nome %></td>
        <% end %>
        <td><%= link_to 'Exibir', livro %></td>
        <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
        <td><%= link_to 'Apagar', livro, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pull-right">
<%= link_to 'Novo Livro', new_livro_path, :class => "btn btn-primary" %>
<%= link_to 'Novo Amigo', new_pessoa_path, :class => "btn btn-primary" %>
</div>