<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livro.editora %>
</p>

<p>
  <strong>Edicao:</strong>
  <%= @livro.edicao %>
</p>

<p>
  <strong>Dono:</strong>
  <%= @livro.dono %>
</p>

<p>
  <strong>Está emprestado?</strong>
  <%= @livro.emprestado %>
</p>

<p>
  <strong>Para quem?</strong>
  <%= @livro.pessoa.nome %>
</p>

<%= link_to 'Editar', edit_livro_path(@livro) %> |
<%= link_to 'Voltar', livros_path %>
